
@model IEnumerable<Task.Models.Product>
@using Task.Resource
@{
    ViewBag.Title = "Index";
}

<hr />
<a href="@Url.Action("Create", "Product")" class="btn btn-primary">
     <i class="fa fa-plus"></i>@Resource.addProduct
</a>



<span id="Message" class="d-none">@TempData["Message"]</span>


<div class="alert alert-warning @(Model.Any() ? "d-none" : "")">
    @Resource.mess
</div>

<table class="table @(!Model.Any() ? "d-none" : "")">
    <thead>
        <tr>

            <td> @Html.DisplayNameFor(model => model.Name)</td>
            <td> @Html.DisplayNameFor(model => model.Price)</td>
            <td>@Html.DisplayNameFor(model => model.ItemId)</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => product.Name)</td>
                <td> @Html.DisplayFor(modelItem => product.Price)</td>
                <td> @Html.DisplayFor(modelItem => product.Item.Name)</td>
                <td>

                    <a>
                        @Html.ActionLink(Resource.Edit, "Edit", new { id = product.Id }, new { @class = "btn btn-primary my-4" }) |

                    </a>
                    <a>
                        @Html.ActionLink(Resource.Delete, "Delete", new { id = product.Id }, new { @class = "btn btn-danger my-4" })

                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>
